<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this meta tag, Half Life 3 will never be released. -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ZURBemails</title>
	
<link rel="stylesheet" type="text/css" href="stylesheets/email.css" />

</head>
 
<body bgcolor="#FFFFFF">

<!-- HEADER -->



<!-- BODY -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<div class="content">
			<table>
				<tr>
					<td>
						<p class="callout">
							From: <strong><%= @sender.fullname %></strong> (<a href="emailto:<%= @sender.username %>"><%= @sender.username %></a>)
							<a href=""><button class="pull-right btn btn-primary btn-sm">Response</button></a>
						</p>				
						<h3><%= @message_detail.title %></h3>
						<p style="background-color: #ffffff;" class="callout"><%= @message_detail.body %></p>		
						<p style="background-color: #dee3ea;" class="callout">
							Received at <%= @message_detail.created_at %> (<%= time_ago_in_words(@message_detail.created_at)%> ago)
						</p>
						<!-- <table width="100%">
							<tr>
								<td>
									<table align="left" class="column">
										<tr>
											<td>										
												<p class="">Received at <%= @message_detail.created_at %> (<%= time_ago_in_words(@message_detail.created_at)%> ago)s</p>
											</td>
										</tr>
									</table>
									<span class="clear"></span>	
									
								</td>
							</tr>
						</table> -->
					</td>
				</tr>
			</table>
			</div>
									
		</td>
		<td></td>
	</tr>
</table>

</body>
</html>