<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ZURBemails</title>
	


</head>
 
<body bgcolor="#FFFFFF"> -->

<!-- HEADER -->

<!-- <link rel="stylesheet" type="text/css" href="stylesheets/email.css" /> -->

<!-- BODY -->
<!-- <div class="content-fluid"> -->
<div>
	<p class="callout">
		<% if @sender.id == current_account.id %>
			From: <strong>Me</strong>
		<% else %>
			From: <strong><%= @sender.fullname %></strong> (<a href="emailto:<%= @sender.username %>">
				<%= @sender.username %></a>)
			<a href=""><button class="pull-right btn btn-primary btn-sm">Reply</button></a>
		<% end %>
		<br><br>
		<% if @recipient.id == current_account.id %>
			To:&nbsp;&nbsp;&nbsp;&nbsp; <strong>Me</strong> 
		<% else %>
			To:&nbsp;&nbsp;&nbsp;&nbsp; <strong><%= @recipient.fullname %></strong> (<a href="emailto:<%= @recipient.username %>">
				<%= @recipient.username %></a>)
		<% end %>
	</p>	
</div>
<div>
	<p style="background-color: #ffffff;" class="callout"><%= @message_detail.body %></p>		
		<p style="background-color: #dee3ea;" class="callout">
			Received at <%= @message_detail.created_at %> (<%= time_ago_in_words(@message_detail.created_at)%> ago)
		</p>
</div>
<!-- </div> -->

<!-- <table class="">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<div class="content">
			<table>
				<tr>
					<td>
						<p class="callout">
							<% if @sender.id == current_account.id %>
								From: <strong>Me</strong>
							<% else %>
								From: <strong><%= @sender.fullname %></strong> (<a href="emailto:<%= @sender.username %>">
								<%= @sender.username %>
									
								</a>)
								<a href=""><button class="pull-right btn btn-primary btn-sm">Reply</button></a>
							<% end %>
							
							
							<br><br>

							<% if @recipient.id == current_account.id %>
								To:&nbsp;&nbsp;&nbsp;&nbsp; <strong>Me</strong> 
							<% else %>
								To:&nbsp;&nbsp;&nbsp;&nbsp; <strong><%= @recipient.fullname %></strong> (<a href="emailto:<%= @recipient.username %>">
								<%= @recipient.username %>
								</a>)
							<% end %>
							
						</p>				
						<h3><%= @message_detail.title %></h3>
						<p style="background-color: #ffffff;" class="callout"><%= @message_detail.body %></p>		
						<p style="background-color: #dee3ea;" class="callout">
							Received at <%= @message_detail.created_at %> (<%= time_ago_in_words(@message_detail.created_at)%> ago)
						</p>
					</td>
				</tr>
			</table>
			</div>
									
		</td>
		<td></td>
	</tr>
</table> -->

<!-- </body>
</html> -->