<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="<%= root_path %>">Home</a>
  </li>
  <li class="breadcrumb-item active">Friends</li>
</ol>

<div class="mb-0 mt-4">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-lg-4">
            <i class="fa fa-newspaper-o"></i> Friends
            <div class="clearfix"></div>
            <%= link_to new_friend_path do %>
            <button type="button" class="btn btn-primary btn-sm"">Add new friend</button>
            <% end %>
        </div>
       
    </div>
    
</div>
<hr class="mt-2">



    <div class="list-content">
        <ul class="list-group">
            <li href="#" class="list-group-item title">
                Friend list
            </li>
            <% if !@friendlist.nil? %>
                <% @friendlist.each do |friend| %>
                    <li href="#" class="list-group-item text-left">
                        <img class="img-thumbnail" src="<%= friend.avatar %>">
                        <label class="name">
                            <%= friend.fullname %><br>
                        </label>
                        <label class="pull-right">
                            <a  class="btn btn-success btn-xs glyphicon glyphicon-ok" href="#" title="View"></a>
                            <a  class="btn btn-danger  btn-xs glyphicon glyphicon-trash" href="#" title="Delete"></a>
                            <a  class="btn btn-info  btn-xs glyphicon glyphicon glyphicon-comment" href="#" title="Send message"></a>
                        </label>
                        <div class="break"></div>
                    </li>
                <% end %>
            <% end %>
        </ul>

        <ul class="list-group">
            <li href="#" class="list-group-item title">
                Friend request
            </li>
            <% if !@request_list.nil? %>
                <% @request_list.each do |friend| %>
                    <li href="#" class="list-group-item text-left">
                        <img class="img-thumbnail" src="<%= friend.avatar %>">
                        <label class="name">
                            <%= friend.fullname %><br>
                        </label>
                        <label class="pull-right">
                            <div class="class="d-flex pr-3""><br>
                                <a href="/friends/accept/<%= friend.id %>" class="btn btn-md btn-primary">Accept</a>
                            </div>
                        </label>
                        <div class="break"></div>
                    </li>
                <% end %>
            <% end %>
        </ul>

        <ul class="list-group">
            <li href="#" class="list-group-item title">
                Waiting for accept your friend request...
            </li>
            <% if !@wait_for_accept_list.nil? %>
                <% @wait_for_accept_list.each do |friend| %>
                    <li href="#" class="list-group-item text-left">
                        <img class="img-thumbnail" src="<%= friend.avatar %>">
                        <label class="name">
                            <%= friend.fullname %><br>
                        </label>
                        <label class="pull-right">
                            <a  class="btn btn-success btn-xs glyphicon glyphicon-ok" href="#" title="View"></a>
                            <a  class="btn btn-danger  btn-xs glyphicon glyphicon-trash" href="#" title="Delete"></a>
                            <a  class="btn btn-info  btn-xs glyphicon glyphicon glyphicon-comment" href="#" title="Send message"></a>
                        </label>
                        <div class="break"></div>
                    </li>
                <% end %>
            <% end %>
        </ul>
    </div>